<mat-toolbar color="primary">
    <span>Party Organizer</span>
</mat-toolbar>

<party-form (addPartyHandler)="onAddParty($event)" />

<mat-divider />

<div [class.mat-elevation-z5]="true" style="padding: 10px;" multi>
    <h2>Parties saved</h2>
    <mat-accordion *ngFor="let party of parties">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Name: {{ party.name }}
            </mat-panel-title>
            <mat-panel-description>
                Amount of Guest: {{ party.guests.length }}
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                {{ party | json }}
            </p>
        </mat-expansion-panel>        
    </mat-accordion>    
</div>
